h1 {
  color: black;
  font-family: sans-serif;
  background-color: grey;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

#main-form {
  display: flex;
  margin-top: 50px;
}



.flex-container-1 {
  flex-grow: 1;
  font-family: sans-serif;
  font-size: 14px;
}


.flex-container-2 {
  flex-grow: 1;
  font-family: sans-serif;
  font-size: 14px;
}


.flex-container-3 {
  flex-grow: 1;
  font-family: sans-serif;
  font-size: 14px;
}


.flex-container-4 {
  flex-grow: 1;
  font-family: sans-serif;
  font-size: 14px;
  padding-right: 30px;
}


.flex-container-5 {
  flex-grow: 1;
  font-family: sans-serif;
  font-size: 14px;
}



.flex-item {
  background-color: #F0F0F0;
  color: black;
  border: 1px solid black;
  font-size: 14px;
}

.body-box {
  background-color: white;
}

textarea {
  width: 300px;
  height: 115px;
}

.request-button {
  color: black;
  font-size: 14px;
  border-radius: 3px;
  font-weight: bold;
}

.response-button {
  color: black;
  font-size: 14px;
  border-radius: 3px;
  font-weight: bold;
}

#display-form {
  display: flex;
  height: 100%;
}

.Information-From-Server {
  display: flex;
  margin-top: 50px;
}

.outputs {
  height: 100px;
}


.Request {
  color: white;
  width: 50%;
  background-color: #609732;
  padding: 6px 6px 6px 10px;
}


.Response {
  color: white;
  width: 50%;
  background-color: #29506D;
  padding: 6px 6px 6px 10px;
}

.request-box {
  width: 50%;
  background-color: #609732;
  opacity: 0.5;
}

.response-box {
  width: 50%;
  background-color: #29506D;
  opacity: 0.5;
}

.basic-url {
}
